extends layout/EncabezadoP.pug 
block head
	title Mate 7
block slides
	div(class="reveal")
		div(class="slides")
			section
				|Slide 1
				h1 hola amundo
				section
					textarea 	## Page title 	A paragraph with some text and a [link](http://hakim.se)
			section(data-background-transition="zoom") slide 2
					
							
			section(data-transition="fade-in slide-out")
				h3 hola presentación
				section Vertical Slide 1
					p $\sqrt[3]{-125}$
				section Vertical Slide 2
				section $\frac{\pi}{2\sqrt{25}}$
